<!DOCTYPE html>
<html ng-app="SoundCloudApp">
<head>
	<meta charset="UTF-8">
	<title>SoundCloud</title>


    <!-- Libs -->
    <script src="public/libs/js/jquery.min.js"></script>
    <script src="public/libs/js/angular.min.js"></script>
    <script src="public/libs/js/angular-route.min.js"></script>
    <script src="public/libs/js/angular-local-storage.min.js"></script>

    <!-- Aplication -->
    <script src="app/configs.js"></script>
    <script src="app/factorys.js"></script>
    <script src="app/main.js"></script>

</head>
<body ng-controller="MainCtrl">

<ul>
    <li><a href="#/">Home</a></li>
    <li><a href="#/profile">Profile</a></li>
</ul>

<div ng-controller="LoginCtrl">
    <form name="loginForm">
        <div ng-if="!usuario">
            <h2 ng-show="conectarLoading">
                Cargando
            </h2>
            <span ng-show="loginError">
                {{loginError}}
            </span>
            <label>
                <span>Usuario:</span>
                <input type="text"
                       name="username"
                       ng-model="login.username"
                       pattern="^[a-zA-Z][a-zA-Z0-9]{4,14}$"
                       title="Inserte su usuario"
                       required
                >
            </label>

            <label>
                <span>Contraseña:</span>
                <input
                        type="password"
                        ng-model="login.password"
                        pattern="^[a-zA-Z][a-zA-Z0-9]{4,14}$"
                        title="Inserte su contraseña"
                        required
                >
            </label>

            <input type="button" ng-click="conectar(login)" value="Enviar" ng-disabled="loginForm.$invalid">
        </div>
    </form>

    <div ng-if="usuario">
        Hola {{ usuario.nombre }} {{ usuario.apellido }}
        <button ng-click="desconectar()">Desconectar</button>
    </div>
</div>

<ng-view></ng-view>

</body>
</html>